@model Identity.API.Models.ViewModels.RegisterViewModel

<div class="account-container  container">
    <div class="row justify-content-center">
        <div class="col-md-8 col-lg-6 col-xl-5">
            <div class="text-center mb-4">
                <h4>Sign up</h4>
                <p class="text-muted mb-4">Get your Chatvia account now.</p>
            </div>

            <div class="card">
                <div class="card-body p-4">
                    <div class="p-3">
                        @Html.CleanValidationSummary(false)
                        <form asp-controller="Account" asp-action="Register" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post">
                            <div class="form-group">
                                <label>Email</label>
                                <div class="input-group mb-3 bg-soft-light input-group-lg rounded-lg">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text border-light text-muted">
                                            <i class="ri-mail-line"></i>
                                        </span>
                                    </div>
                                    <input type="email" asp-for="Email" class="form-control bg-soft-light border-light" placeholder="Enter Email">
                                </div>
                            </div>
                            <div class="form-group mb-4">
                                <label>Password</label>
                                <div class="input-group mb-3 bg-soft-light input-group-lg rounded-lg">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text border-light text-muted">
                                            <i class="ri-lock-2-line"></i>
                                        </span>
                                    </div>
                                    <input type="password" asp-for="Password" class="form-control bg-soft-light border-light" placeholder="Enter Password">

                                </div>
                            </div>
                            <div class="form-group mb-4">
                                <label>Verify code</label>
                                <div class="input-group mb-3 bg-soft-light input-group-lg rounded-lg">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text border-light text-muted">
                                            <i class="ri-settings-4-line"></i>
                                        </span>
                                    </div>
                                    <div class="input-group-prepend">
                                        <input type="text" name="verifyCode" class="form-control bg-soft-light border-light" placeholder="Verify Code">
                                    </div>
                                    <div class="input-group-prepend" style="flex: 1;text-align: right;">
                                        <button type="button" class="btn btn-primary btn-block waves-effect waves-light" id="verify">Send</button>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <button class="btn btn-primary btn-block waves-effect waves-light" type="submit">Sign up</button>
                            </div>
                            <div class="mt-4 text-center">
                                <p class="text-muted mb-0">By registering you agree to the Chatvia <a href="#" class="text-primary">Terms of Use</a></p>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        (function () {
            'use strict'
            $("#verify").click(function (e) {
                e.preventDefault();
                var $this = $(this);
                $this.loading();
                var eamil = $("#Email").val();
                $.post("/account/sendverifycode", { "email": eamil }, function (resp) {
                    $this.disable(60);
                }).fail(function (xhr, status, error) {
                    $this.reset();
                });
            });
        })()
    </script>
}
